@import "tailwindcss";

@theme {
  --color-primary: #89d0ec;
  --color-background-light: #f6f7f8;
  --color-background-dark: #121c20;
  --color-navy: #0e171a;

  --font-display: "Plus Jakarta Sans", sans-serif;

  --radius-lg: 2rem;
  --radius-xl: 3rem;
}

/* Custom Base Styles */
@layer base {
  body {
    font-family: var(--font-display);
    @apply bg-background-light dark:bg-background-dark text-[#0e171a] dark:text-white transition-colors duration-300;
  }
}



/* Custom Utilities from the design */
.camera-border {
  border: 2px solid var(--color-primary);
}